.cn-container{
	position:absolute;
	z-index:3;
	width: 90%;
	max-width: 1200px;
	margin: 10px auto 0 auto;
	text-align: left;
}

.cn-container h2{

	color: #FFFFFF;
	position: absolute;
	z-index: 1000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 50px;
	line-height: 80px;
	top: 0px;
	right: 200px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.3s linear 0.4s;
	-moz-transition: all 0.3s linear 0.4s;
	-o-transition: all 0.3s linear 0.4s;
	-ms-transition: all 0.3s linear 0.4s;
	transition: all 0.3s linear 0.4s;
}
.cn-container .cn-slide:target h2{
	right: 70px;
	opacity: 1;
}
.cn-slide{
	
	position: absolute;
	left: -100%;
	padding-top: 80px;
	margin: 0 6%;
	width: 90%;
	opacity: 0;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
	-moz-transition: left 0.4s linear, opacity 0.4s linear;
	-o-transition: left 0.4s linear, opacity 0.4s linear;
	-ms-transition: left 0.4s linear, opacity 0.4s linear;
	transition: left 0.4s linear, opacity 0.4s linear;
}
.cn-slide:target{
	left:35px;
	opacity: 1;
}
.cn-slide nav a{
	width:40%;
	text-align: left;
	display: inline-block;
	text-decoration:none;
	border: 8px solid #fff;
	padding: 2%;
	font-size: 66px;
	letter-spacing: 7px;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
	color: rgba(255,255,255,0.1);
	line-height: 40px;
	margin: 5px 0 10px 10px;
	outline: none;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #fff url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cn-slide nav a:hover{
	box-shadow: 1px 3px 7px rgba(0,0,0,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	color: rgba(255,255,255,1);
}
.cn-slide-sub nav a{
	width: 42%;
	display: inline-block;
	font-size: 40px;
}
.cn-slide-sub nav a:nth-child(odd){
	margin-right: 5px;
}
/* Main Items */
.cn-slide nav a[href="#slide-1"]{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-2"]{
	background-image: url(../images/natraj.jpg);
}
.cn-slide nav a[href="#slide-3"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-4"]{
	background-image: url(../images/abhinay.jpg);
}
.cn-slide nav a[href="#slide-5"]{
	background-image: url(../images/crosswindz.jpg);
}
.cn-slide nav a[href="#slide-6"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-7"]{
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-8"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-9"]{
	background-image: url(../images/samvaad.jpg);
}
/* Items and sub-items of slide 1*/
.cn-slide nav a[href="#slide-1-1"]{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-2"]{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-3"]
 {
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-4"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-5"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-6"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-7"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-8"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-9"]
{
	background-image: url(../images/toolika.jpg);
}
.cn-slide nav a[href="#slide-1-10"]
{
	background-image: url(../images/toolika.jpg);
}


/* Items and sub-items of slide 2*/
.cn-slide nav a[href="#slide-2-1"]{
	background-image: url(../images/natraj.jpg);
}
.cn-slide nav a[href="#slide-2-2"]{
	background-image: url(../images/natraj.jpg);
}
.cn-slide nav a[href="#slide-2-3"]{
	background-image: url(../images/natraj.jpg);
}
.cn-slide nav a[href="#slide-2-4"]{
	background-image: url(../images/natraj.jpg);
}
.cn-slide nav a[href="#slide-2-5"]{
	background-image: url(../images/natraj.jpg);
}

/* Items and sub-items of slide 3*/
.cn-slide nav a[href="#slide-3-1"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-2"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-3"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-4"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-5"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-6"]{
	background-image: url(../images/bandish.jpg);
}
.cn-slide nav a[href="#slide-3-7"]{
	background-image: url(../images/bandish.jpg);
}
/* Items and sub-items of slide 4*/
.cn-slide nav a[href="#slide-4-1"] {
	background-image: url(../images/abhinay.jpg);
}
.cn-slide nav a[href="#slide-4-2"]{
	background-image: url(../images/abhinay.jpg);
}
.cn-slide nav a[href="#slide-4-3"]{
	background-image: url(../images/abhinay.jpg);
}
.cn-slide nav a[href="#slide-4-4"]{
	background-image: url(../images/abhinay.jpg);
}
.cn-slide nav a[href="#slide-4-5"]{
	background-image: url(../images/abhinay.jpg);
}
/* Items and sub-items of slide 5*/
.cn-slide nav a[href="#slide-5-1"]{
	background-image: url(../images/crosswindz.jpg);
}

/* Items and sub-items of slide 6*/
.cn-slide nav a[href="#slide-6-1"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-2"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-3"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-4"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-5"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-6"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-7"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-8"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-9"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-10"]{
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-6-11"]{
	background-image: url(../images/samvaad.jpg);
}
/* Items and sub-items of slide 7*/
.cn-slide nav a[href="#slide-7-1"] {
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-7-2"]{
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-7-3"] {
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-7-4"]{
	background-image: url(../images/enq.jpg);
}
/* Items and sub-items of slide 8*/
.cn-slide nav a[href="#slide-8-1"],
#slide-8-1 .cn-content {
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-8-2"],
#slide-8-2 .cn-content {
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-8-3"],
#slide-8-3 .cn-content {
	background-image: url(../images/samvaad.jpg);
}
.cn-slide nav a[href="#slide-8-4"],
#slide-8-4 .cn-content {
	background-image: url(../images/samvaad.jpg);
}
/* Items and sub-items of slide 9*/
.cn-slide nav a[href="#slide-9-1"],
#slide-9-1 .cn-content {
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-9-2"],
#slide-9-2 .cn-content {
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-9-3"],
#slide-9-3 .cn-content {
	background-image: url(../images/enq.jpg);
}
.cn-slide nav a[href="#slide-9-4"],
#slide-9-4 .cn-content {
	background-image: url(../images/enq.jpg);
}

.cn-content{ 
	position:absolute;
	display:block;
	top:40px;
	padding:20px 38px 10px 50px;
	width:90%;
	height:400px;
	overflow-x:hidden;
	overflow-y:hidden;
	color:#FFFFFF;
	background:none rgba(0,0,0,.5);
	
}

.cn-content p{
	line-height: 24px;
	padding: 15px 20px;
	margin-bottom: 10px;
	
	
	
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cn-next {
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.cn-slide:target .cn-next{
	left: 3px;
	opacity: 1;
}
.next{
	padding-left:5px;
	color:#FFFFFF;
}
.cn-next-1 {
	margin-left:100px;
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.cn-slide:target .cn-next-1{
	left: 3px;
	opacity: 1;
}

.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	z-index:2;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
::-webkit-scrollbar {
height: 16px;
overflow: visible;
width: 10px;
}
::-webkit-scrollbar-thumb {
border-width: 0 1px 0 6px;
}
::-webkit-scrollbar-thumb {
background-color: rgba(238, 235, 224, 0.37);
background-clip: padding-box;
border: solid transparent;
border-width: 1px 1px 1px 6px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset 0 -1px 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb {
border-width: 1px 1px 1px 2px;
}
Pseudo ::-webkit-input-placeholder element
::-webkit-scrollbar-button {
height: 0;
width: 0;
}
Pseudo ::-webkit-slider-thumb element
::-webkit-scrollbar-track {
border-width: 0 1px 0 6px;
}
::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track {
border-width: 0;
}
Pseudo ::-webkit-search-decoration element
::-webkit-scrollbar-corner {
background: transparent;
}

@media screen and (max-width: 1060px){
	.cn-slide-sub nav a{
		font-size: 28px;
	}
}

@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 48px;
		line-height: 95px;
	}
	.cn-slide nav a{
		font-size: 38px;
	}
	.cn-slide-sub nav a{
		width: auto;
		font-size: 36px;
		display: block;
	}
	.cn-slide-sub nav a:nth-child(odd){
		margin-right: 0px;
	}
}



